.button {
  border: 0;
  border-radius: 0px;
  box-shadow: none;
  background: $dark-cyan;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 350;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}
